.content {
  flex: 1;
  background-color: var(--white);
}
.content-container {
  width: 85%;
  max-width: 1510px;
  margin-left: auto;
  margin-right: auto;
}
.logo-wap {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.logo-container {
  width: 310px;
  cursor: pointer;
}
.banner {
  background-color: var(--contentBg);
  display: flex;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 38px;
}

.banner-container {
  width: 65%;
  text-align: center;
}
.banner-container > h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 18px;
}
.banner-container > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.items-wrap {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

footer {
  height: 79px;
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  margin-top: 183px;
  font-weight: 400;
  line-height: 19px;
}
footer span {
  margin-left: 129px;
}
@media (max-width: 768px) {
  .items-wrap {
    flex-direction: column;
  }
}
