:root {
  --white: #ffffff;
  --gray: #5c5c5c;
  --grayText: #aaaaaa;
  --textColor: #000000;
  --black: #191718;
  --mobile: 600;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  color: var(--textColor);
  display: flex;
  min-height: 100vh;
}
