:root {
  --white: #ffffff;
  --gray: #5c5c5c;
  --grayText: #aaaaaa;
  --contentBg: #efefef;
  --textColor: #000000;
  --black: #191718;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  color: var(--textColor);
  display: flex;
  min-height: 100vh;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-cover: center;
}
.wrap-sidebar {
}
.menu {
  position: fixed;
  top: 50px;
  left: 10px;
  cursor: pointer;
}
.modal {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-inde: 10;
  background-color: rgba(0, 0, 0, 0.7);
}
